:root {
  --color-1: #f9f7f7;
  --color-2: #dbe2ef;
  --color-3: #3f72af;
  --color-4: #112d4e;
}

html {
  font-family: "Roboto", sans-serif;
}

.container {
  min-height: 100dvh;
  display: grid;
  grid-template: 10rem 5fr / 14rem 1fr;
}

.sidebar {
  grid-row: 1 / -1;
  background-color: var(--color-3);
  color: var(--color-2);
  font-weight: 600;
  display: grid;
  grid-template-rows: max-content max-content max-content;
  gap: 3rem;
  padding: 1rem;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  display: grid;
  gap: 1rem;
}

.sidebar ul:first-child {
  font-size: 1.5rem;
}

.sidebar ul img {
  filter: invert(99%) sepia(21%) saturate(2285%) hue-rotate(177deg)
    brightness(100%) contrast(88%);
}

.sidebar ul a {
  display: grid;
  grid-template-columns: 1.5rem 1fr;
  align-items: center;
  gap: 1rem;
  color: inherit;
  text-decoration: none;
}

.sidebar ul a:hover {
  color: var(--color-1);
}

.header {
  background-color: var(--color-1);
  display: grid;
  grid-template: 1fr 2fr / 2fr 1fr;
  gap: 3rem;
  padding: 1rem 3rem;
  font-weight: 600;
}

.header .search-section {
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 1rem;
  align-items: center;
}

.header .search-section button {
  width: 2rem;
  aspect-ratio: 1 / 1;
  background: none;
  border: none;
  padding: 0;
  transition: all 0.1s ease-in-out;
}

.header .search-section button:hover {
  transform: scale(1.1);
}

.header .search-section button:active {
  transform: none;
}

.header .search-section label {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.header .search-section input[type="search"] {
  border-radius: 1rem;
  border: none;
  background-color: var(--color-2);
  padding: 0.33rem 1rem;
}

.header .search-section input[type="search"]:focus {
  outline: none;
  box-shadow: 0.1rem 0.1rem 0.25rem var(--color-2);
}

.header .profile-section {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.header .profile-section img {
  width: 2rem;
}

.header .profile-section .notifications-btn {
  margin-left: auto;
}

.header .profile-section .profile-btn {
  color: inherit;
  text-decoration: none;
  padding: 0 1rem;
}

.content {
  background-color: hotpink;
}
